.about-header{
  margin-top: 8rem;
  margin-bottom: 12rem;
  figure {
    width: 100%;
    img {
      width: 100%;
    }
  }
  h1{
    margin: 2rem 0;
  }
}
.about-container{
  margin-bottom: 12rem;

  figure {
    margin: 1rem 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
}