// Make max-height for #image-slider and image-container responsive

#image-slider{
  width: 100%;
  height: 300px;
  position: relative;
  margin: 2rem 0;
  overflow: hidden;

  .img-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    width: 1.5rem;
    height: 2rem;
    border: 1px solid #000000b4;
    border-radius: 3px;
    background-color: #000000b4;
    color: #fff;
    transition: var(--transition-fast1);
    &:hover{
      cursor: pointer;
      background-color: #212121;
      border-color: #212121;
      transform: scale(0.98) translateY(-50%);
      transition: var(--transition-fast1);
    }
    &:focus{
      outline: none;
    }
  }
  .left {
    left: 5px;
  }
  .right {
    right: 5px;
  }

  .slider-location {
    margin: 0.5rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location {
    content: "";
    display: block;
    margin: 0 0.25rem;
    border: 1px solid var(--background-gray);
    background: var(--background-gray);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: var(--transition-fast1);
    &:hover {
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
  }
  .active-location {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
  }

  .image-container {
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 300px;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .image-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    transition: var(--transition-fast2);

    img {
      width: 100%;
      height:  100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;  
      position: relative;

    }
  }
  .active-slide {
    opacity: 1;
    transform: translateX(0);
  }
  .last-slide {
    transform: translateX(-100%);
  }
  .next-slide {
    transform: translateX(100%);
  }
}
.image-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000008c;
  display: grid;
  place-items: center;
  z-index: 1200;
  transform-origin: center;
  transition: var(--transition-fast1);

  figure {
    position: relative;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  #image-slider {
    height: 400px;

    .image-container {
      min-height: 400px;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1280px)  {
  #image-slider {
    height: 600px;

    .image-container {
      min-height: 600px;
    }
  }
}
@media only screen and (min-width: 1281px) {
  #image-slider {
    height: 600px;

    .image-container {
      min-height: 600px;
    }
  }
}