/*
TODO:
> MAKE ICONS ROTATE LIKE SUN IS SETTING (TRANSFORM ORIGIN)
*/
.button {
  border: 1px solid var(--gray500);
  border-radius: 12px;
  background-color: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  transition: var(--transition-fast2);

  &:focus{
    outline: none;
  }
  &:hover{
    border: 1px solid var(--gray400);
    transition: var(--transition-fast2);
  }
  svg {
    transition: var(--transition-fast2);
  }
  &:hover svg {
    color: var(--text-primary);
    transition: var(--transition-fast2);
  }
}
.moon {
  color: var(--gray500);
}
.sun{
  // font-size: 1.1rem;
  color: var(--gray500);
}
