.home-intro{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 700;
  }
}
.home-section-outer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .section-title{

  }
  #home-others{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #home-more{
    margin: 12rem 0;
  }
}
.hover-chevron{
  display: none;
  opacity: 0;
  position: relative;
  left: 0;
  font-size: 0.8rem;
  transition: var(--transition-fast2);
}
.url-link{
  &:hover .hover-chevron{
    display: inline-block;
    opacity: 1;
    transition: var(--transition-fast2);
  }
}