.home-intro{
  h1 {
    font-weight: 700;
  }
}
.home-section-outer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .section-title {
    width: auto;
    margin-bottom: 2rem;
  }
  
  .home-others{
    padding: 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-more{
    margin: 12rem 0;
  }
}
.hover-chevron{
  display: none;
  opacity: 0;
  position: relative;
  left: 0;
  font-size: 0.8rem;
  transition: var(--transition-fast2);
}
.url-link{
  display: flex;
  align-items: center;
  &:hover .hover-chevron{
    display: inline-block;
    opacity: 1;
    transition: var(--transition-fast2);
  }
}
.displace-btn-up{
  position: relative;
  top: -6rem;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .displace-btn-up {
    top: 0;
    align-self: center;
  }
  .home-section-outer{
    .home-others{
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1280px)  {
  .home-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 4rem;
  }
  .displace-btn-up {
    top: 0;
    align-self: center;
    margin-bottom: 4rem;
  }
  .home-section-outer{
    .home-others{
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}
@media only screen and (min-width: 1281px) {
  .home-works {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .displace-btn-up {
    margin-bottom: 4rem;
    top: 0;
    align-self: center;
  }
  .home-section-outer{
    .home-others{
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
    .home-more {
      margin: 16rem 0;
    }
  }
} 