.layout-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  border: 5px solid;
}
.layout-side-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  height: 100vh;

  .layout-side-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}