.layout-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 500;

  .layout-children{
    position: relative;
    z-index: 400;
  }
}
.layout-side-top{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: var(--sidenav-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.layout-side-bottom{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: var(--sidenav-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .layout-side-top {
    // width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    transition: var(--transition-fast2);
  }
}