@import '../../theme.scss';

#contact-btn {
  position: relative;
  border: 1px solid var(--background-paper);
  border-radius: 50%;
  background-color: var(--background-paper);
  margin: 1rem 0;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  transition: var(--transition-fast2);

  svg {
    transition: var(--transition-fast2);
  }
  
  &:hover{
    svg {
      transform: rotate(180deg);
      transition: var(--transition-fast2);
    }
  }
  &:focus{
    outline: none;
  }
}
.tilt-btn{
  transform: rotate(225deg);
  transition: var(--transition-fast2);
}
.contact-form-mask{
  visibility: hidden;
  opacity: 0;
  transform-origin: bottom right;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  background: #0000008c;
  transition: var(--transition-fast2);
}
.show-mask{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  position: absolute;
}
.contact-form{
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom right;
  position: absolute;
  right: 10vw;
  width: 80vw;
  min-height: 50vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  background: var(--background-default);
  border-radius: 10px;
  transition: var(--transition-fast2);

  form {
    display: grid;
    place-items: center;
    width: 100%;
    color: var(--text-primary);
  }
  a {
    color: #3e6bff;
  }
  p {
    padding: 0 0.5rem;
    margin: 1rem 0;
  }
  h1 {
    margin: 2rem 0;
    color: var(--accent1-main);
    text-align: center;
  }
}
.show-contact{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: var(--transition-fast2);
  color: var(--text-primary);
  position: absolute;
}
.contact-input{
  position: relative;
  margin: 0.25rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.75rem;
  background: inherit;
  color: var(--text-primary);

  &:focus{
    outline: none;
  }
  
}
textarea {
  resize: none;
}
.error {
  border: 1px solid var(--error-main);
  transition: var(--transition-fast2);
}

.submit-btn{
  position: relative;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem 0;
  background: var(--button-background);
  color: var(--text-primary);
  transition: var(--transition-fast1);
  &:hover{
    background: var(--button-hover);
    color: var(--button-hover-color);
    cursor: pointer;
    transition: var(--transition-fast1);
  }
}

.success {
  border: 1px solid var(--success-light);
  background: var(--success-light);
}
.close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--url-link-color);
  &:hover {
    color: var(--url-link-hover);
  }
}
.icon-list {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-icon{
  margin: 0 0.5rem;
  transition: var(--transition-fast1);
  svg {
    color: var(--url-link-color);
  }
  &:hover {
    svg{
      color: var(--url-link-hover);
      transition: var(--transition-fast1);
    }
  }
}