/*
TODO:
> ADD VARIABLE COLORS, TRANSITIONS, BOXSHADOW TO ALL OF THESE
*/ 
@import '../../theme.scss';

#contact-btn {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background-color: #e8e8e8;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  z-index: 10;

  svg {
    transition: var(--transition-fast);
  }
  
  &:hover{
    // background: rgb(255,153,249);
    // background: linear-gradient(145deg, rgba(255,153,249,1) 0%, rgba(255,153,249,1) 4%, rgba(0,237,255,0.7772511848341233) 100%);
    svg {
      transform: rotate(180deg);
      transition: var(--transition-fast);
    }
  }
  &:focus{
    outline: none;
  }
}
.tilt-btn{
  transform: rotate(225deg);
  transition: var(--transition-fast);
}
.contact-form-mask{
  visibility: hidden;
  opacity: 0;
  transform-origin: bottom right;
  positioN: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background: #0000008c;
}
.show-mask{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.contact-form{
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom right;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  width: 80vw;
  min-height: 80vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  background: #fcfcfc;
  border-radius: 10px;
  // box-shadow: 5px 5px 15px 5px #e4e4e4;
  transition: var(--transition-fast);

  form {
    display: grid;
    place-items: center;
    width: 100%;
  }
  a {
    color: #3e6bff;
  }
}
.show-contact{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: var(--transition-fast);
}
.contact-input{
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 100%;
  border: none;
  font-size: 0.75rem;
  background: inherit;
  
  &:focus{
    outline: none;
  }
  
}
textarea {
  resize: none;
}

.submit-btn{
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 0;
  background: inherit;
  
  &:hover{
    background: #505050;
    color: #fcfcfc;
    cursor: pointer;
  }
}