#musings{
  display: grid;
  place-items: center;

  .musings-intro {
    h1{
      margin-bottom: 2rem;
      font-size: 5rem;
    }
  }
  .musings-container {
    display: grid;
    place-items: center;
    margin-bottom: 6rem;
    .view-more-btn{
      background: inherit;
      border: 2px solid var(--accent1-main);
      color: var(--accent1-main);
      padding: 0.25rem 1rem;
      &:hover{
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  #musings {
    .musings-intro {
      h1 {
        font-size: 6rem;
      }
    }
  }
}