#perspectives {
  display: grid;
  place-items: center;

  .perspectives-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
  h1{
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .perspectives-figure {
    img {
      width: 100%;
      // max-width: 
    }
  }
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > figure { 
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 2rem;
}