footer {
  width: 100%;
  position: relative;
  margin-top: 3rem;
  padding: 3rem 0 1rem;
  background-color: var(--background-gray);

  .footer-container{
    padding: 0 1rem;
  }
  .footer-nav{
    margin: 3rem 0;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: left;
  }
  .footer-links{
    margin: 1rem 0;
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--url-link-color);
    transition: var(--transition-fast1);

    &:hover{
      cursor: pointer;
      font-weight: 600;
      color: var(--url-link-hover);
      // transition: var(--transition-fast1);
    }
    &::before {
      display: block;
      content: attr(title);
      font-weight: 600;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
  .icon-list {
    padding: 1rem 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .social-icon{
    transition: var(--transition-fast1);
    svg {
      color: var(--url-link-color);
    }
    &:hover {
      svg{
        color: var(--url-link-hover);
        transition: var(--transition-fast1);
      }
    }
  }
  .copyright {
    color: var(--url-link-color);
    font-size: 0.625rem;
    text-align: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
  footer {
    .icon-list {
      justify-content: center;
    }
    .social-icon{
      margin: 0 0.5rem;
    }
  }
}
@media only screen and (min-width: 751px) and (max-width: 900px) {
  footer {
    .footer-nav {
      display: flex;
      justify-content: space-around;
    }
    .icon-list {
      justify-content: center;
    }
    .social-icon{
      margin: 0 0.5rem;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1280px)  {
  footer {
    .footer-nav {
      display: flex;
      justify-content: space-around;
    }
    .icon-list {
      justify-content: center;
    }
    .social-icon{
      margin: 0 0.5rem;
    }
  }
  
}
@media only screen and (min-width: 1281px) {
  footer {
    .footer-nav {
      display: flex;
      justify-content: center;
    }
    .footer-links {
      margin: 0 2rem;   
    }
    .icon-list {
      justify-content: center;
    }
    .social-icon{
      margin: 0 0.5rem;
    }
  }
  
} 