:root {
  /* Setpoints */
  --setpoint-1: 300px;
}
.light-mode{
  --primary-color: #121212;
  --secondary-color: rgb(245,245,245);
  --tertiary-color: rgb(199, 199, 199);
  --font-color: #121212;
  --bg-color: white;
  --heading-color: #292929;
  --side-menu-color: #F5F6FA;
  --header-weight: 600;
  --footer-icon-color: rgb(170, 170, 170); /* Icons, copyright */
}
.dark-mode{
  --primary-color: white;
  --secondary-color: rgb(69,69,69);
  --tertiary-color: rgb(150, 150, 150);
  --font-color: rgba(255,255,255,0.87);
  --bg-color: #252525;
  --heading-color: rgba(255, 255, 255, 1);
  --side-menu-color: rgb(34, 34, 34);
  --header-weight: 400;
  --footer-icon-color: rgb(138, 148, 153);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  font-family: 'Open Sans';
}
