@import './theme.scss';

:root {
  // Transitions
  --transition-fast1: all 0.1s ease-in-out;
  --transition-fast2: all 0.3s ease-in-out;
  --transition-slow: all 0.7s ease-in-out;

  // Font Weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Shadow Types
  --shadow-light: 5px 5px 15px 5px #ebebebd4;
  --shadow-dark: 5px 5px 15px 5px #545454d4;

  --sidenav-width: 60px;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans';
  text-decoration: none;
}
body {
  background-color: var(--background-default);
}
main {
  position: relative;
  width: 100%;
  max-width: 100%;
  z-index: 100;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  width: 100%;
}
h1, .h1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  color: var(--text-primary);
}
h2, .h2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  color: var(--text-primary);
}
h3, .h3{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  color: var(--text-primary);
}
h4, .h4{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: var(--text-primary);
}
h5, .h5{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: var(--text-primary);
}
h6, .h6{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: var(--text-primary);
}
.subtitle1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--text-primary);
}
.subtitle2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  color: var(--text-primary);
}
.body1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: var(--text-primary);
}
.body2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--text-primary);
}
button {
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
img {
  color: var(--text-primary);
}

span {
  z-index: 100;
}
.page {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
}
.full {
  min-height: 100vh;
}
.full-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.url-link {
  position: relative;
  text-decoration: none;
  color: var(--url-link-color);
  transition: var(--transition-fast2);
}
.text-link {
  z-index: 1;
  position: relative;
  color: var(--text-primary);
  text-decoration: none;

}
.bold {
  position: relative;
  font-size: inherit;
  color: inherit;
  font-weight: var(--font-weight-bold);
  &:hover{
    text-decoration: underline;
    text-decoration-color: var(--accent1-main);
    transition: var(--transition-fast2);
  }
}
.italic{
  font-style: italic;
}
.highlight {
  position: relative;
  font-size: inherit;
  color: inherit;
  &::before{
    z-index: 1;
    content: "";
    position: absolute;;
    left: calc(-1*0.1em);
    bottom: calc(0.1em);
    width: calc(100% + 0.25*1em);
    height: calc(0.4*1em);
    border: 1px transparent;
    border-radius: calc(0.1*1em);
    background-color: var(--accent1-main);
    opacity: 0.3;
    transform: skewX(-20deg);
    transition: var(--transition-fast1);
  }
  &:hover{
    cursor: pointer;
    &::before {
      height: 100%;
      transform: translateX(calc(0.1em)) skewX(-20deg);
      transition: var(--transition-fast1);
    }
  }
}
.fill {
  position: relative;
  color: var(--text-primary);
  border: 2px var(--accent1-main) solid;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: var(--transition-fast1);
}

.fill:hover {
  color: var(--background-paper);
}

.fill:before {
  content: "";
  position: absolute;
  background: var(--accent1-main);
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  transition: var(--transition-fast2);
}

.fill:hover:before {
  right: 0;
}
.divider {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--divider);
}
.display-none{
  display: none;
}
// .max-width {
//   margin: 0;
//   padding: 0;
//   max-width: none;
// }

/* 
  Setpoints
  --breakpoint1: 600px;
  --breakpoint2: 960px;
  --breakpoint3: 1280px;
  --breakpoint4: 1920px;
*/

@media only screen and (min-width: 600px) and (max-width: 900px) {
  html {
    font-size: 20px;
  }

}
@media only screen and (min-width: 901px) and (max-width: 1280px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1281px) {
  .max-width { 
    max-width: 1200px;
  }
}